.inputStyleSelect{
    background-color: green;
    color: white;
}
mat-icon{
 color: #ff0000;
 max-inline-size: 50px;
}
.correct {
  
    background-color: #00c853;
  }
  .incorrect {
    background-color: #b43636;
    
  }
  .default{
   color: black;
  }

.fav1{
  float: left;;
}
.fav2{
  float:right;
}
